.overLay {
  width: 100vw;
  height: 100%;
  background-color: rgba(63, 62, 62, 0.61);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.singleCard {
  background-image: url("https://source.unsplash.com/3gifzboyZk0");
  width: 65%;
  border-radius: 20px;
  padding: 30px;
  box-shadow: inset 0 0 15px rgb(66, 33, 33);
}

.singleCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.closeBtn {
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: 30px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.closeBtn:hover {
  color: rgb(156, 0, 31);
}

.singleCardContent {
  display: grid;
  grid-template-columns: 350px 200px 400px;
}

.deckCardImg {
  width: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgb(66, 33, 33);
  margin-top: 5px;
}

.singleCardStats {
  padding-top: 0;
  width: 200px;
}
.singleCardInfo {
  padding-top: 0;
  width: 400px;
}

.cardInfoSection {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: rgb(27, 27, 27);
  font-weight: 500;
  letter-spacing: 2px;
}

.titleText {
  font-size: 25px;
  font-weight: 600;
  color: rgb(27, 27, 27);
  letter-spacing: 2px;
  margin: 5px;
}

.boldText {
  font-size: 16px;
  font-weight: 600;
  color: rgb(27, 27, 27);
  letter-spacing: 2px;
}

@media only screen and (max-width: 1530px) {
  .singleCardContent {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .singleCard {
    width: 95%;
    margin-top: 20px;
  }

  .deckCardImg {
    width: 300px;
  }
}
